<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Block Explorers</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Block Explorers</h1>
        <a href="https://sochain.com/DOGE" class="explorer-button" id="doge-explorer">DOGE Explorer</a>
        <a href="https://pepeblocks.com/" class="explorer-button" id="pep-explorer">PEP Explorer</a>
        <a href="http://luckycoin-explorer.com/" class="explorer-button" id="lky-explorer">LKY Explorer</a>
        <a href="https://shibaexplorer.com/" class="explorer-button" id="shic-explorer">SHIC Explorer</a>
        <a href="https://explorer.bonkscoin.io/" class="explorer-button" id="bonc-explorer">BONC Explorer</a>
        <a href="https://explorer.flopcoin.net/" class="explorer-button" id="flop-explorer">FLOP Explorer</a>
        <a href="https://chainz.cryptoid.info/dgb/" class="explorer-button" id="dgb-explorer">DGB Explorer</a>
        <a href="https://explorer.dogecoinev.com/" class="explorer-button" id="dev-explorer">DEV Explorer</a>
    </div>
</body>
</html> 