<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Endpoints</title>
</head>
<body>
    <h1>API Endpoints</h1>
    <ul>
        <li><a href="/api/listunspent/DOGE/DMPcqfrXZ7Fcui33BKSPZvH9idY4WijFZ6">List Unspent (DOGE)</a></li>
        <li><a href="/api/sendrawtransaction/DOGE">Send Raw Transaction (DOGE)</a></li>
        <li><a href="/api/getblockchaininfo/DOGE">Get Blockchain Info (DOGE)</a></li>
        <li><a href="/api/estimatesmartfee/DOGE/6">Estimate Smart Fee (DOGE)</a></li>
        <li><a href="/api/getlasttransactions/DOGE/DMPcqfrXZ7Fcui33BKSPZvH9idY4WijFZ6">Get Last Transactions (DOGE)</a></li>
        <li><a href="/api/importaddress/DOGE">Import Address (DOGE)</a></li>
    </ul>
</body>
</html> 