<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faucets</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Faucets</h1>
        <a href="https://pepeblocks.com/faucet" class="explorer-button" id="pep-explorer" target="_blank">PEP</a>
        <a href="https://boncfaucet.bonkscoin.io/" class="explorer-button" id="bonc-explorer" target="_blank">BONC</a>
        <a href="https://faucet.flopcoin.net/" class="explorer-button" id="flop-explorer" target="_blank">FLOP</a>
        <a href="https://faucet.dogecoinev.com/" class="explorer-button" id="dev-explorer" target="_blank">DEV</a>
    </div>
</body>
</html> 