<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain Plugz</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Blockchain Plugz</h1>
        <a href="/wallet" class="wallet-button">Wallet</a>
        <a href="https://github.com/martinseeger2002/plugzWallet2" class="github-button" target="_blank">GitHub</a>
        <a href="/block_explorers" class="explorer-button">Block Explorers</a>
        <a href="/ord_explorers" class="explorer-button">Ord Explorers</a>
        <a href="https://discord.gg/nPXXAWZX" class="github-button" target="_blank">Discord</a>
        <a href="https://x.com/DogePlugz" class="github-button" target="_blank">X.com</a>
        <a href="https://discord.gg/weSmXAay" class="github-button" target="_blank">NodeRunners</a>
    </div>
</body>
</html> 