<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ord Explorers</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Ord Explorers</h1>
        <a href="https://wonky-ord.dogeord.io/" class="explorer-button" id="doge-ord-explorer">DOGE Ord Explorer</a>
        <a href="https://pepinals.com/" class="explorer-button" id="pep-ord-explorer">PEP Ord Explorer</a>
        <a href="https://shicinals-ord.com/" class="explorer-button" id="shic-ord-explorer">SHIC Ord Explorer</a>
        <a href="https://inscription.bonkscoin.io/" class="explorer-button" id="bonc-ord-explorer">BONC Ord Explorer</a>
        <a href="https://flopinals.flopcoin.net/" class="explorer-button" id="flop-ord-explorer">FLOP Ord Explorer</a>
        <a href="https://dgb-ordinals.com/" class="explorer-button" id="dgb-ord-explorer">DGB Ord Explorer</a>
        <a href="https://ord-dogecoinev.io/" class="explorer-button" id="dev-ord-explorer">DEV Ord Explorer</a>
    </div>
</body>
</html> 